@page "{searchString?}"
@model EchoSport.Pages.Articles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@foreach (var item in Model.Article)
{
<a asp-page="./Details" asp-route-id="@item.ID">
    <div class="container">
        <br />
        <div class="row ">
            <div class="col-md-8 col-md-offset-2 text-primary">
                <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                <p>Published on: @Html.DisplayFor(modelItem => item.PublishDate)</p>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Eriksen" class="img-responsive img-thumbnail" width="100%" />
            </div>
        </div>
        <br />
    </div>
</a>
}